html {
    background-color: #ccc;
    display: grid;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    place-items: center;
    background-color: #ccc;
    overflow-x: hidden;
}

a {
background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
);
background-size: 200% 100%;
background-position: -100%;
display: inline-block;
padding: 5px 0;
position: relative;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 0.3s ease-in-out;
}

a:before{
content: '';
background: #54b3d6;
display: block;
position: absolute;
bottom: -3px;
left: 0;
width: 0;
height: 3px;
transition: all 0.3s ease-in-out;
}

a:hover {
background-position: 0;
}

a:hover::before{
width: 100%;
}

.content {
    max-width: 1150px;
    margin: 0 auto;
}

.tagline {
    text-align: center;
    margin-top: 50px;
    font-size:1.2em
}

h1, h2 {
    text-align: center;
    margin-top: 50px;
    color: #104f37;
}

p {
    font-size: 20px;
    line-height: 1.5;
    color:#555;
}

footer {
    background-color: inherit;
    color: inherit;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    top: 0;
    gap: 30px;
    width: 100%;
    font-size: 1.5em;
    background-color: #104f37;
    flex-wrap: nowrap;
}

.navbar a {
    color: #ccc;
    text-decoration: none;
    padding: 10px;
    transition:all 0.3s ease;
}

.navbar a:hover {
    background-color: #063022;
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width:1200px;
    height: auto;
    background-color: #409c79;
    color: #ccc;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #104f37;
    color: #ccc;  
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #063022;
}