body {
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin-top: 50px;
    color: #104f37;
}

p {
    font-size: 20px;
    line-height: 1.5;
    color:#555;
}

nav {
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    margin: 0 auto;
    background-color: #104f37;
  }
  
  nav a {
    float: left;
    display: block;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    font-family: "Times New Romans", serif;
  }
  
  .active {
    color: white;
    padding: 10px;
  }
  
  .active a:hover {
    transform: scale(1.05);
  }
  
  #active-link {
    width: 50px;
    height: 29px;
    aspect-ratio: 1.71 / 1;
    object-fit: cover;
  }
  
  nav .icon {
    display: none;
    vertical-align: middle;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px;
  }
  
  @media screen and (max-width: 980px) {
    nav .icon {
      display: block;
      font-size: 20px;
    }
  
    nav.responsive .icon {
      right: 0;
      top: 0;
    }
  
    nav a:not(:first-child),
    .dropdown .dropbtn {
      display: none;
    }
  
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
    nav.responsive .dropdown {
      float: none;
      width: 100%;
    }
  
    nav.responsive .dropdown-content {
      position: relative;
      width: 100%;
    }
  
    nav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
      color: #f6eee3;
    }
  
    .dropdown:hover .dropdown-content {
      width: 100vw;
      max-width: 975px;
      overflow: hidden;
    }
  
    .dropdown-content a {
      width: 100%;
    }
  }
  
  nav a:hover {
    background-color: #555;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  nav::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .dropdown {
    float: left;
    position: relative;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #500000;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
  }
  
  .dropdown-content a {
    float: none;
    color: #f6eee3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

footer {
    background-color: #104f37;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.main-content {
    padding: 20px;
}

button {
    background-color: #104f37;
    color: ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #083d2b;
}