body {
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: none;
}

.content {
    max-width: 80ch;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin-top: 50px;
    color: #104f37;
}

p {
    font-size: 20px;
    line-height: 1.5;
    color:#555;
}

footer {
    background-color: inherit;
    color: inherit;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    flex-direction: row;
    width: 100%;
    float: right;
    background-color: #104f37;
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width:1200px;
    height: auto;
    background-color: #409c79;
    color: #ccc;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #104f37;
    color: #ccc;  
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #063022;
}