html {
    background-color: #fbe9d0;
    display: grid;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    place-items: center;
    overflow-x: hidden;
}

a {
    position: relative;
    color: #e64833;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e64833;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.content {
    max-width: 1150px;
    margin: 10px;
}

.tagline {
    text-align: center;
    margin-top: 50px;
    font-size:1.2em;
}

h1, h2 {
    text-align: center;
    margin-top: 50px;
    color: #104f37;
}

header {
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    color:#244855;
}

footer {
    background-color: inherit;
    color: inherit;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    gap: 30px;
    width: 100%;
    font-size: 1.5em;
    background-color: #fbe9d0;
    padding: 10px;
}

.navbar a:link, .navbar a:visited {
    color: #90aead;
    text-decoration: none;
    padding: 10px;
    transition:all 0.3s ease;
    border-radius: 5px;
}

.navbar a:hover {
  background-color: #e64833;
  color: #fbe9d0;
}

.active {
  justify-content: flex-start;
}

.to {
  justify-content: flex-end;
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width:1200px;
    height: auto;
    background-color: #409c79;
    color: #fbe9d0;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #244855;
    color: #90aead;  
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #90aead;
    color: #244855;
}