html {
    background-color: #fbe9d0;
    display: grid;
    word-wrap:break-word;
    word-break:break-word;
    place-items: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
@media (min-width: 768px) {
    html {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
@media (min-width: 450px) {
    html {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 0;
    line-height: inherit;
}
@media (min-width: 768px) {
    body {
        max-width: 768px;
    }
}
@media (min-width: 450px) {
    body {
        max-width: 450px;
    }
}

a {
    position: relative;
    color: #e64833;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #e64833;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e64833;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.content {
    max-width: 1100px;
}

.tagline {
    text-align: center;
    margin-top: 50px;
    font-size:1.2em;
}

h1, h2 {
    text-align: center;
    color: #104f37;
    font-family: 'Rubik', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    border-bottom-width: 1px;
}

article, footer, header, main {
    padding: 1.5rem 0;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        gap: 1.75rem;
    }
}

@media (min-width: 450px) {
    article, footer, header, main {
        padding: 1.75rem .75rem;
    }

    header {
        gap: 1.5rem;
    }
}

p {
    font-size: 20px;
    line-height: 1.5;
    color:#244855;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: inherit;
    color: inherit;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    gap: 30px;
    width: 100%;
    font-size: 1.2em;
    background-color: #fbe9d0;
    padding: 1vw;
    align-items: center;
    display:inline-flex;
}

.navbar a:link, .navbar a:visited {
    top: 0;
    display: inline-flex;
    transition: all 0.3s ease;
    align-items: center;
    font-weight: bold;
    color: #e64833;
    padding: 0.2em;
}

.to {
    justify-content: flex-end;
}

a.active,
a.active::after,
a.active:hover::after {
  transition: none;
  transform-origin: none;
  content: none;
}

.active:hover {
    transform: scale(1.1);
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width:1200px;
    height: auto;
    background-color: #409c79;
    color: #fbe9d0;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 50vw;
}

a.img,
a.img::after,
a.img:hover::after {
  transition: none;
  transform-origin: none;
  content: none;
}

img a:hover {
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: #244855;
    color: #90aead;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #90aead;
    color: #244855;
}

a.button,
a.button::after,
a.button:hover::after {
  transition: none;
  transform-origin: none;
  content: none;
}

.socmed-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}