<footer>
    <div class="socmed-btn">
        <a href="https://bsky.app/profile/karin-kho.bsky.social" class="button" title="Find me on Bluesky" alt="Find me on Bluesky"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/karin_kho" class="button" title="Find me on Instagram" alt="Find me on Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://https://github.com/K758-hoho/k758-hoho.github.io" class="button" title="Find me on GitHub" alt="Find me on GitHub"><i class="fab fa-github"></i></a>
    </div>
    <p>&copy; 2024 - <span>{{ "" | year }}</span> Karin Kho</p>
</footer>