<nav class="navbar">
    <a href="/" class="active" alt="Click to go home" title="Click to go home"><img src="https://res.cloudinary.com/dkvkq02fo/image/upload/v1739595234/tapir_logo_jge1qv.svg" width="50px" height="50px"></a>
    <a href="/about" class="to" alt="Click to go to About" title="Click to go to About">About</a>
    <a href="/blog" class="to" alt="Click to go to Blog" title="Click to go to Blog">Blog</a>
    <a href="/works" class="to" alt="Click to go to Works" title="Click to go to Works">Works</a>
</nav>